/* src/app/about/About.module.css */

.aboutContainer {
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--bg-color);
  flex-grow: 1;
}

.content {
  max-width: 800px;
  line-height: 1.6;
  color: var(--accent-cream);
}

.content h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-style: italic;
}

.content p {
  margin-bottom: 1rem;
}

.styledLink {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-color: var(--accent-green);
  text-decoration-thickness: 1.5px;
}

.styledLink:hover {
  text-decoration-color: var(--accent-red);
}