:root {
  /* Brand Palette */
  --bg-color: #001c3a;
  --font-color-dark: #1f1f1f;
  --accent-cream: #f2f1e8;
  --accent-green: #00ff85;
  --accent-green-focus: rgba(0, 255, 133, 0.25);
  --font-color-light: #f2f1e8;
  --border-color: #00ff85;
  --accent-red: #f37970;
  --accent-blue: #60efff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--font-color-light); /* UPDATED */
  background: var(--bg-color);
   font-family: var(--font-raleway), sans-serif;
}

/* NEW: Set all headings and buttons to use Merriweather */
h1, h2, h3, h4, h5, h6, button {
  font-family: var(--font-merriweather), serif;
}

a {
  color: inherit;
  text-decoration: none;
}